body{
    background-color: #F9F9F9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

button{
    background-color: #a2e162;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

#nextBtn{
    background-color: #ff5b5b;
    display: none;
}

#answerBtn{
    display: none;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F9F9F9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0 40px;
    height: 400px;
    border-radius: 20px;
    width: 600px;
}

#result{
    display: flex;
    flex-direction: column;
    align-items: center;
}